*,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: #0E1740;
	display: flex;
	align-items: center;
	/* justify-content: center; */
}
.header .nav_logo{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 70px;
	margin-left: 100px;
	font-family: sans-serif;
	font-size: 2rem;
	font-weight: 600;
    color:white;
    letter-spacing: 4px;
    text-transform: uppercase;
/*    border: 2px solid yellow;*/
}
.nav_logo img{
	width: 240px;
	height:60px;
	transform: translateY(-5px);
}
.header .nav_links{
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0 50px;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 400px;
    color:white;
    text-transform: capitalize;
/*    border: 2px solid yellow;*/
}
.header .nav_links .link{
	background: transparent;
	padding: 8px 15px;
	margin: 0;
	letter-spacing: 0.6px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}
.nav_links .link:hover{
	color:#FC843B;
	margin: 0 4px;
}

.header .nav_btns{
	position: absolute;
	right: 60px;
	top: 0;
	display: flex;
	align-items: center;
	height: 100%;
/*    border: 2px solid yellow;*/
}
.header .nav_btns .btn{
	position: relative;
	background: transparent;
	padding: 8px 20px;
	margin: 0 10px;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	text-transform: capitalize;
	letter-spacing: 0.5px;
    border-radius: 36px;
    outline: none;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease;
}
#register{
	padding: 7px 30px;
	background: transparent;
	border: 1.6px solid white;
	box-sizing: border-box;
}
#register:hover{
	background: orangered;
	border: 1px solid orangered;
}
/*#login{
    border-radius: 0;
	padding: 8px 14px;
}*/
#login::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	width:100%;
	height:2px;
	background: white;
	transform: scaleX(0);
	transform-origin: left;
	transition: 0.3s ease;
}

#login:hover::after{
   transform: scaleX(1);
}

.form_section{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 5;
	backdrop-filter: blur(2px);
	transition: 2s ease;
}
.form_section.active{
	display: flex;
}
#reg-box.hide{
	display: none;
}
#login-box.hide{
	display: none;
}

.form_section .form{
	position: relative;
	width: 380px;
	padding: 40px 0;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
}
.form .close{
	position: absolute;
	top: 0;
	right: 0;
	background: whitesmoke;
	width: 38px;
	height: 35px;
	font-size: 14px;
	color: gray;
	font-family: sans-serif;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	transition: 0.3s ease;
}
.form .close:hover{
	background: red;
	color: white;
}
.form h1{
	font-size: 1.5rem;
	color: #192876;
	font-family: sans-serif;
	letter-spacing: 0.4px;
	margin-bottom: 50px;
}
.form input{
	width: 85%;
	font-size: 16px;
	font-family: sans-serif;
	letter-spacing: 0.4px;
	padding: 8px 15px;
	margin-bottom: 20px;
	outline: none;
	border: 0;
	caret-color: deepskyblue;
	border-radius: 4px;
	border:1.5px solid darkgray;
}

.form input:focus{
	border:1.7px solid #192876;
}
.form .pass_note{
    width: 83%;
	display: flex; 
	margin-bottom: 10px;
	font-size: 13px;
	color: gray;
}
.form .forgot_pass{
	width: 83%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	margin-bottom:20px;
	margin-top:-10px ;
	margin-bottom:5px ;	
}
.forgot_pass a{
	color: #177391;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0.2px;
}
.form .save_info{
	width: 83%;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	margin-bottom:20px;
/*	border:2px solid black;*/
}
.save_info input[type="checkbox"]{
	width: 18px;
	height: 18px;
	outline: none;
	transform: translateY(50%);
	accent-color:#192876;
}
.save_info .content{
	margin-left: 12px;
	font-size: 14px;
	cursor: pointer;
	letter-spacing: 0.3px;
}
input[type="submit"]{
	background: #192876;
	outline: none;
	border: 0;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
    text-transform: capitalize;
}